training_output/
ner_models/
.DS_Store
dev_notes.md
.vscode/
*.zip
*.mmdb
ner_test.ipynb
__pycache__
UFOzone/static/
media/
dev_resources/
praw.ini
secrets/
.dvc
nuforc_sightings_data/
reddit_sightings_data/
exports/
