[Unit]
Description=Gunicorn daemon for Django projects
Before=nginx.service
After=network.target

[Service]
WorkingDirectory=/home/django/datavark/Datavark
ExecStart=/home/django/.local/share/virtualenvs/Datavark-FrfBYLl8/bin/gunicorn --name=Datavark --pythonpath=/home/django/datavark/Datavark --bind unix:/home/django/gunicorn-datavark.socket --config /home/django/datavark/Datavark/Datavark/gunicorn.py Datavark.wsgi:application
Restart=always
SyslogIdentifier=gunicorn
User=django
Group=django


[Install]
WantedBy=multi-user.target
