[Unit]
Description=DjangoQ daemon
Before=nginx.service
After=network.target

[Service]
WorkingDirectory=/home/django/ufozone/UFOzone
ExecStart=/home/django/.local/share/virtualenvs/UFOzone-FrfBYLl8/bin/python /home/django/ufozone/UFOzone/manage.py qcluster
Restart=always
SyslogIdentifier=djangoQ
User=django
Group=django


[Install]
WantedBy=multi-user.target
