[Unit]
Description=Gunicorn daemon for Django projects
Before=nginx.service
After=network.target

[Service]
WorkingDirectory=/home/django/ufozone
ExecStart=/home/django/.local/share/virtualenvs/dissertation-kCFj1GCX/bin/gunicorn --name=StockManagement --pythonpath=/home/django/ufozone --bind unix:/home/django/gunicorn-ufozone.socket --config /home/django/ufozone/UfoZone/gunicorn.py UfoZone.wsgi:application
Restart=always
SyslogIdentifier=gunicorn
User=django
Group=django


[Install]
WantedBy=multi-user.target
